In [32]:
import numpy as np
import pandas as pd

In [33]:
df = pd.read_csv('train.csv',squeeze=True)

In [22]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [35]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
df.Name.value_counts()

Thayer, Mr. John Borland Jr                         1
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)    1
Bowen, Mr. David John "Dai"                         1
Rugg, Miss. Emily                                   1
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")    1
                                                   ..
Dorking, Mr. Edward Arthur                          1
Horgan, Mr. John                                    1
Palsson, Miss. Stina Viola                          1
Theobald, Mr. Thomas Leonard                        1
Jensen, Mr. Hans Peder                              1
Name: Name, Length: 891, dtype: int64

In [48]:
import re
text = 'Thayer, Mr. John Borland Jr'

pattern = re.compile(r'(\w+)\.')

matches = pattern.search(text)

print(match.group(1))

Mr

In [30]:
def get_title(x):
    title=x.Name
    pattern = re.compile(r'(\w+)\,\s(\w+\.)\s[a-zA-Z]+')

    matches = pattern.finditer(text)

    for match in matches:
        print(match.group(2))
        
    return match